@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400&family=Oswald:wght@300;400&family=Roboto:wght@100;300;400;500&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

  width: 100vw;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

/* HEADER  */
.header {
  width: 100%;
  height: 11.5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: white;
  padding: 0 40px;
  z-index: 1000;
  box-shadow: 20px 20px 30px rgba(76, 73, 73, 0.279);
}
.header .logo img {
  width: 140px;
  margin-top: 10px;
  padding: 0px;
  cursor: pointer;
}

/* UL STYLE  */
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  margin: 8px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.712);
}
ul li a:hover {
  color: palevioletred;
}

ul .new::after {
  content: "New";
  position: absolute;
  font-size: 12px;
  color: palevioletred;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  top: -5px;
}
/* UL STYLE  */

/* SEARCH STYLE  */
.search {
  position: relative;
}
.search input {
  width: 480px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px 0px 10px 40px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.187);
  border-radius: 3px;
}
.search img {
  width: 18px;
  height: 18px;
  opacity: 0.4;
  position: absolute;
  left: 2%;
  top: 30%;
}
/* SEARCH STYLE  */

/* ICON STYLE  */
.header .icons {
  display: flex;
}
.header .icons .icon-div img {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}
.header .icons .icon-div:hover img {
  opacity: 0.4;
}

.header .icons .icon-div span {
  font-size: 12px;
  opacity: 0.7;
  display: block;
  padding: 4px 0;
  font-weight: bolder;
}
.header .icons .icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  cursor: pointer;
}
/* ICON STYLE  */
/* HEADER  */

/* HERO SECTION  */
.hero {
  width: 100%;
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./zzzzz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .content-hero {
  width: 50%;
  padding: 60px 0px 0 140px;
}
.hero .content-hero span {
  font-size: 30px;
  font-family: cursive;
  color: red;
}
.hero .content-hero h1 {
  font-size: 65px;
}
.hero .content-hero p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.699);
}
.hero .content-hero button {
  padding: 7px 20px;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgb(37, 34, 34);
  color: white;
  font-weight: 500;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.2s;
}
.hero .content-hero button:hover {
  transform: scale(1.08);
  background-color: palevioletred;
  color: black;
}
.hero .image-hero {
  width: 50%;
  height: 100%;
  background-image: url("./bb.png");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: top 100% left 60%;
}
/* HERO SECTION  */

/* SHOP BY CATEGORY */
.categorie {
  background-color: rgba(224, 222, 219, 0.21);
  height: 340px;
  margin-bottom: -30px;
}
.category {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.category .category-div {
  width: 120px;
  height: 120px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.37);
  margin: 0 20px;
  background-color: purple;
  border-radius: 50%;
  cursor: pointer;
}
.category .category-div img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  transition: all ease-out 0.2s;
}
.category .category-div:hover .img {
  transform: scale(1.09);
}
.category .category-div:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.689);
}
.category-div h2 {
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.701);
  padding: 10px;
}
.category-h1 {
  padding-left: 70px;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.756);
}
/* SHOP BY CATEGORY */

/* LATEST SECTION  */
.latest {
  width: 100%;
  height: 450px;
  padding: 30px 70px;
}
.latest h1 {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.756);
  padding: 10px 0px;
}
.latest-slider {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.latest-slider-image {
  width: 250px;
  height: 320px;
  margin: 2px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
}
.latest-slider-image::after {
  position: absolute;
  content: "Best Seller";
  width: 80px;
  height: 20px;
  background-color: rgba(209, 14, 79, 0.683);
  /* background-color: rgba(255, 0, 0, 0.708); */
  top: 15px;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
}
.latest-slider-image:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.358);
}
.latest-slider-image img {
  width: 100%;
  cursor: pointer;
  transition: all ease 0.2s;
}
.latest-slider-image:hover img {
  transform: scale(1.09);
}
.details-latest {
  font-size: 10px;
  background-color: whitesmoke;
  width: 100%;
  height: 75px;
  padding: 5px 10px;
  padding-bottom: 7px;
}
.details-latest .wish {
  width: 17px;
  height: 17px;
  display: inline;
  margin-left: 60px;
  transition: 0.2s;
}
.details-latest .wish:hover {
  opacity: 1.4;
  transform: scale(1.2);
}
.latest-slider-image {
  position: relative;
}
.latest-slider-image .details-latest {
  position: absolute;
  left: 0;
  bottom: 0;
}
.details-latest h3 {
  font-size: 19px;
  text-transform: uppercase;
  display: inline;
}
.details-latest .name {
  font-size: 13px;
  font-family: cursive;
  padding: 3px 0;
  color: rgba(0, 0, 0, 0.651);
  display: block;
}
.details-latest p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.511);
  font-weight: 500;
  font-family: sans-serif;
  padding: 3px 0;
  text-decoration: line-through;
  display: inline;
}
.details-latest .orginal {
  font-size: 15px;
  font-family: sans-serif;
  padding-left: 5px;
}
.details-latest .discount {
  font-size: 15px;
  color: orange;
  padding-left: 8px;
}
/* LATEST SECTION  */

/* BANNER SECTION  */
/* SLIDER SECTION STYLE  */
.slider-section {
  width: 1550px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: -80px;

}
.slider {
  width: 500%;
  height: 500px;
  display: flex;
}
.slider .banner {
  width: 20%;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.406); */
  transition: all 0.2s;
  cursor: pointer;
}
.slider input {
  display: none;
}

/* .nav-manual{
    position: absolute;
    display: flex;
    background-color: yellow;
    width: 1000px;
    justify-content: center;
    margin: auto;
} */
.nav-manual .btn-man {
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
}
.btn-man:not(:last-child) {
  margin-right: 15px;
}
.btn-man:hover {
  background-color: red;
}
#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}

.nav-auto {
  position: absolute;
  display: flex;
  /* background-color: blue; */
  width: 1000px;
  justify-content: center;
  margin: auto;
  bottom: 20px;
  /* z-index: 33; */
}
.nav-auto div {
  padding: 8px;
  border-radius: 10px;
  background-color: black;
  border: 1px solid white;
  transition: 1s;
}
.nav-auto div:not(:last-child) {
  margin-right: 15px;
}
#radio1:checked ~ .nav-auto .btn1 {
  background-color: red;
}
#radio2:checked ~ .nav-auto .btn2 {
  background-color: red;
}
#radio3:checked ~ .nav-auto .btn3 {
  background-color: red;
}
#radio4:checked ~ .nav-auto .btn4 {
  background-color: red;
}
#radio5:checked ~ .nav-auto .btn5 {
  background-color: red;
}
/* SLIDER SECTION STYLE  */
/* BANNER SECTION  */

/* FEATURE STARTS */
.protfolio {
  width: 100%;
  /* height: 800px; */
  /* background-color: rgba(95, 158, 160, 0.231); */
  margin-top: 70px;
  position: relative;
}
.protfolio h1 {
  padding-left: 70px;
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.756);
  font-size: 35px;
  text-transform: uppercase;
}

.protfolio .select-protfolio-topic {
  width: 70%;
  height: 70px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
}
.select-protfolio-topic div {
  font-size: 20px;
  font-family: monospace;
  padding: 2px 10px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 20px;
}
.select-protfolio-topic .active {
  background-color: #d7658f;
  color: white;
}
.select-protfolio-topic div:hover,
.select-protfolio-topic div:focus {
  background-color: #d7658f;
  color: white;
  font-weight: 800;
}
.featured-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.featured-container .latest-slider-image::after{
    content: "";
    width: 0;
    height: 0;
}
.featured-container .latest-slider-image{
    margin: 10px;
    border: none;
    box-shadow: none;
} 
.btn-next-prev{
    position: absolute;
    bottom: -80px;
    right: 250px;
}  
.btn-next-prev button{
    width: 40px;
    cursor: pointer;
    margin: 2px;
    font-size: 24px;
    font-weight: bolder ;
    outline: none;
    border: none;
    padding: 5px 10px;
    background-color: #d7658f;
    color: white;
}
.btn-next-prev button:hover{
    background-color: rgba(0, 0, 0, 0.361);
}
/* FEATURE ENDS  */



/* CHANGE IN TRENDING SECTION  */
.change .latest-slider-image::after{
  content: "Trending";
}

/* CHANGE IN TRENDING SECTION  */



/* FOOTER STARTS */
footer{
  width: 100%;
  background-color:  #24262b;
  height: 280px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 30px 50px 30px;
}
footer div{
  width: 18%;
  height: 80%;
  margin: 5px;
  padding: 20px;
}
footer .div h3{
  font-size: 23px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  padding-bottom: 10px;
  cursor: pointer;
  color: palevioletred;
}
footer div p{
  font-size: 17px;
  cursor: pointer;
  padding: 2px;
  font-weight: 400;
  padding-left: 10px;
}
footer div p:hover{
  color: pink;
}
footer div img{
  width: 30px;
  margin: 3px;
  cursor: pointer;
  opacity: 0.6;
  height: 30px;
  transition: 0.2s;
}
footer div img:hover{
  transform: scale(1.06);
  opacity: 1;
}
/* FOOTER ENDS  */





.caursel {
  height: 600px;
  width: 100%;
}

.caursel h1{
    font-size: 38px;
    color: rgba(0, 0, 0, 0.712);
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 20px;   
}


.caursel-container{
    height: 100%;
    display: flex;
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
    position: relative;
    top: -70px;
}
.caursel-item{
    width: 290px;
    height: 370px;
    margin: 0 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.596) , inset 10px 10px 20px black;
    transition: .1s all ease;
    position: relative;
    transition: .4s all ease-in;
    border-radius: 4px;
    cursor: pointer;
}
.shadow{
  width: 100%;
  height: 100%;
  background-color: rgba(216, 112, 147, 0.548);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  z-index: 100;
  transition: all 0.2s;
  display: none;
}
.shadow::after{
  content: "BUY NOW";
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.caursel-item .overlay{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 28%;
  background-color: white;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.352), inset -10px -10px 20px rgba(0, 0, 0, 0.274);
  padding:0 30px;
  padding-top: 13px;
  display: block;
  transition: all ease-out 0.2s;
}
.overlay h1{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto',sans-serif;
  display: inline;
  padding: 20px 0;
}
.overlay p{
  font-size: 16px;
  font-weight: 600;
  display: inline;
}
.overlay .iimg{
  width: 25px;
  height: 25px;
  display: none;
}
.overlay img{
  display: none;
}
.overlay span{
  padding-left: 15px;
  font-weight: bold;
  color: orange;
}
.overlay button{
  padding: 3px 15px;
  font-weight: bold;
  background-color: greenyellow;
  outline: none;
  border: none;
  font-size: 18px;
  width: 80%;
  margin-left: 23px;
  border-radius: 3px;
  margin-top: 10px;
}
.caursel-item:hover .overlay{
  display: none;
}
.caursel-item:hover .shadow{
  display: block;
}

.caursel-item .buy{
    padding: 7px 15px;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 8;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    display: none;
}

.caursel-item img {
    width: 290px;
    height: 370px;
    border-radius: 4px;
    transition: .1s all ease;
  } 

.caursel-container .btn{
    position: absolute;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 35px;
    background-color: rgba(216, 112, 147, 0.628);
    border-radius: 50%;
    transition: .1s all ease-out;
    z-index: 1000;
}
.caursel-container .btn:hover{
    transform: scale(1.05);
    background-color: palevioletred;
    color: white;
}
.caursel-container #prev{
    top: 45%;
    left: 40px;
}
.caursel-container #next{
    top: 45%;
    right: 40px;
}


